COMPOSE_PROJECT_NAME=github-gallery
APP_IMAGE=github-gallery:local

PREVIEW_CONTAINER_NAME=github-gallery-preview
PREVIEW_HOST_PORT=4322

STANDALONE_CONTAINER_NAME=github-gallery-standalone
STANDALONE_HOST_PORT=8080

PROXY_NETWORK=proxy
PROXY_HOST=github-gallery.local
